
html
  head
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
    link(rel='stylesheet' type='text/css', href='/index.css')
  body
    h1 syn-grids
    a(name="grid-1")
    h2 Data Grid
    syn-grid#data-grid-1()
    p &nbsp;
    a(name="grid-2")
    h2 Data Grid with pagination and sortable columns
    syn-grid#data-grid-2()
    p &nbsp;
    a(name="grid-3")
    h2 Data Grid with cell filters
    p You can click on cells to see how events are handled
    syn-grid#data-grid-3(options="grid3Config")
    
    script(type='text/javascript', src='faker.min.js')
    script(type='text/javascript', src='/index.bundle.js')
      
    script(type='text/javascript').
      
      // Creates "length" fake user cards
      var createUsers =  function( length ) {
        var data, user;
        data = [];
        while ( length > 0 ) {
          user = {
            avatar: faker.image.avatar(),
            name: faker.name.firstName(),
            lastName: faker.name.lastName(),
            address: faker.address.streetAddress(),
            email: faker.internet.email().toLowerCase(),
            position: faker.name.title(),
            dateOfBirth: faker.date.past()
          };
          data.push( user );
          length--;
        }
        return data;
      }

      var users = createUsers( 200 );
      var head = {
        name: { label: 'Name', sort: true },
        email: { label: 'E-mail', sort: true },
        dateOfBirth: { label: 'Birth date' }
      };
    
    script(type='text/javascript').
      var grid1 = document.getElementById( 'data-grid-1' )
      grid1.innerHTML = JSON.stringify( {
        head: {
          name: { label: 'Name' },
          lastName: { label: 'Last Name' },
          address: { label: 'Address' },
          email: { label: 'E-mail' }
        },
        pagination: false,
        data: users.slice( 0, 5 )
        
      } )
    
    script(type='text/javascript').
      var grid2 = document.getElementById( 'data-grid-2' )
      grid2.innerHTML = JSON.stringify( {
        head: head,
        pagination: { 
          rowsPerPage: 7,
          buttons: 5,
          startPage: 2
        },
        data: users
      } )
    
    script(type='text/javascript').
      var grid3 = document.getElementById( 'data-grid-3' )
      
    script(type='text/javascript').
      var module = syn.grids.angular.getModule()
      module.run( function($rootScope) {
      
        $rootScope.grid3Config = {
          head: head,
          cells: {
            on: {
              click: function (event, key, data) {
                window.alert('Clicked on ' + data.name + ' ' + data.lastName )
              }
            },
            dateOfBirth: { 
              filter: function(key, value, item) {
                var date = new Date(value)
                return date.toLocaleString()
              }
            },
            email: {
              filter: function(key, value, item) {
                return "<a href=\"mailto:"+value+"\">"+value+"</a>"
              }
            }
          },
          pagination: { rowsPerPage: 5 },
          data: users.slice( 0, 80 )
        }
      } )
      angular.bootstrap( document.body, [ module.name ] )
