
$_spacing: 2rem;

.syn-grid {
  width: 100%;
  font-size: 1.3rem;

  &_head {
    th {
      background: #666;
      font-size: 1.1em;
      color: #fff;
    }
  }

  &_body {
    tr {
      background: #efefef;

      &:nth-child( even ) {
        background: #fff;
      }
    }
  }

  td, th {
    padding: $_spacing / 2 $_spacing;
    font-weight: normal;
    text-align: left;
  }

  th {
    &.--sort-asc {
      #icon-sort_asc {
        fill: rgba( #fff, 1 );
      }
    }

    &.--sort-desc {
      #icon-sort_desc {
        fill: rgba( #fff, 1 );
      }
    }
  }

  &_pagination {

    &.--disabled {
      display: none;
    }

    button {
      box-sizing: border-box;
      width: 3.5rem;
      height: 3.5rem;
      padding: $_spacing / 2;
      margin: 1px;
      background: #ddd;
      border: 0;

      &.--active {
        background: #666;
        font-weight: bold;
        color: #fff;
      }

      &.--disabled {
        opacity: .5;
      }
    }
  }
}

.syn-grid-cell-option--sort {
  float: left;
  width: 10px;
  padding: 0;
  margin-left: -12px;
  margin-right: 5px;
  background: none;
  border: 0;

  path {
    fill: rgba( #fff, .5 );
  }
}
